@import url('https://fonts.googleapis.com/css?family=PT+Sans');
*{
	box-sizing: border-box;
}

body{
    font-size: 14px;
    font-family: 'PT Sans', Arial, sans-serif;
	text-transform: uppercase;
    color: #333333;
    line-height: 21px;
	background-color: #f1f1f1;
}

.main-container{
	display: flex;
	flex-direction: column;
	width: 1200px;
	margin: 0 auto;
}

.page-header__logo{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -68px;
	z-index: 3;
}

.menu{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	padding: 0;
	height: 56px;
	margin: 0;
	background-color: #ffffff;
	align-items: center;
} 

.menu__item{
	width: 240px;
	align-items: flex-end;
	padding-left: 72px;
}

.menu__item:nth-child(2){
	margin-right: 240px; 
} 
.menu__item:nth-child(3){
	padding-left: 81px;
}
.menu__item:last-child{
	padding-left: 89px;
}

.intro{
	margin: 0px;
	padding: 0px;
	font-size: 0;
	line-height: 0;
	position:relative;
}
.intro::before {  
	background: url(../icons/teeth.png); 
	content:"";
	display:block;
	position:absolute;
	bottom: 0;
	width:1200px;
	height: 57px;
}
.information{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 355px;
	padding-right: 355px;
	text-align: center;
	padding-top: 38px;
	line-height: 24px;
	height: 216px;
	margin: 0px;
	background-color: #ffffff;
}
.information p{
	
}

.features{
	display: flex;
	flex-direction: row;
	align-content: center;
	
}
.features__item{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 401px;
	padding-top: 31px;
	padding-left: 40px;
	padding-right: 40px;
	border: 1px solid black;
}
.features__item:first-child p{
	padding-left: 20px;
	padding-right: 25px;
}
.features__heading{
	padding-left: 80px;
	padding-right: 85px;
	padding-bottom: 7px;
	text-align: center;
}
.features__item p{
	padding-top: 7px;
}
.features__image{
	display: block;
	width: 800px;
}
.features--blue{
	background-color: #81b3d2;
	color: #ffffff;
	
}

.advantages{
	display: flex;
	flex-direction: row;
}

.advantages__heading h2::before{
	content: "";
	display: block;
	background: url(../img/spritesheet.png) no-repeat;
}
.advantages__image-house{
	width: 75px;
    height: 72px;
    background-position: -109px -5px;
}
.advantages__image-food{
	width: 74px;
    height: 70px;
    background-position: -5px -5px;
}
.advantages__image-surprise{
    width: 64px;
    height: 76px;
    background-position: -317px -5px;
}

.advantages__item{
	display: flex;
	flex-direction: column;
  	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	padding-left: 58px;
	padding-right: 53px;
	flex-basis: 400px;
	height: 330px;
}

.promo{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
	height: 291px;
	background-color: #ffffff;	
}

.promo__link{
	margin-top: auto;
	width: 567px;
	height: 87px;
	background-color: #766357;
	color: #ffffff;
	text-align: center;
	padding-top: 30px;
}
h3{
	font-size: 29px;
	font-weight: 1500; 
}
.promo p{
	padding-left: 200px;
	padding-right: 200px;
}
.form{
	display: flex;
	flex-direction: column;
	align-items: center;	
}

.map__form{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 392px;
	width: 567px;
	background-color: #ffffff;
}

.form__buttom{
	background-color: #81b3d2;
	color: #ffffff;
	width: 458px;
	height: 56px;
	border: 0;
}

.footer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 120px;
	background-color: #ffffff;
	opacity: 0.7;
	border: 1px solid black;
}
.footer__hashtag{
	font-size: 21px;
	padding: 22px;
}
.footer__social{
	display: flex;
	flex-direction: row;
	margin-left: 18px;
}

.footer__social-item{
	height: 46px;
	width: 45px;
	margin-right: 6px;
	justify-content: center;
	background-color: #81b3d2;
}
.footer__social-item--fb{
	padding-left: 3px;
}
.footer__social-img{
	padding-left: 13px;
	padding-top: 13px;
}
.footer__copyright{
	display: flex;
	flex-direction: row;
	align-items: center;
}

/* Здесь стили по catalog.html */

.form-catalog{
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-image: url(../img/filter_background.jpg);
	align-items: center;
	height: 215px;
}
.form-catalog__item{
	display: flex;
	flex-direction: column;
	color: #ffffff;
}

.form-catalog__item:first-child{
	min-width: 255px;
}
.form-catalog__item:nth-child(2){
	min-width: 270px;
	margin-left: 0px;
	margin-right: 203px;
}
.form-catalog__item:nth-child(3){
	min-width: 328px;
}
.form-catalog__button{
	width: 138px;
	height: 36px;
	align-self: center;
	border: 2px solid #ffffff;
	
}
.finder{
	display: flex;
	flex-direction: row;
	height: 86px;
	background-color: #ffffff;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid #e5e5e5;
}
.finder__name{
	margin-left: 72px;
}
.finder__feature{
	display: flex;
	flex-direction: row;
	align-items: baseline;
}
.finder__items{
	display: flex;
	flex-direction: row;
}
.finder__item{
	margin-left: 32px;
}
.hotel{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 150px;
	background-color: #ffffff;
	border: 1px solid green;
}
.hotel__image{
	width: 165px;
	border: 1px solid black;
}
.hotel__description{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 90px;
	width: 780px;
	border: 1px solid black;
}
.hotel__heading{
	margin: 0;
}
.hotel__features{
	display: flex;
	flex-direction: row;
	height: 60px;
}
.hotel__feature{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.hotel__detail-link{
	width: 110px;
	height: 26px;
	background-color: #81b3d2;
	color: #ffffff;
	text-align: center;
}
.hotel__rent-link{
	width: 142px;
	height: 26px;
	background-color: #766357;
	color: #ffffff;
	text-align: center;	
}
.hotel__rating{
	width: 111px;
}
p{
	text-align: center;
}

a{
	text-decoration: none;
	color: black;
}

li{
	list-style-type: none;
}