*{
	box-sizing: border-box;
}

body{
    font-size: 14px;
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    color: #333333;
    line-height: 21px;
	background-color: #f1f1f1;
}

.main-container{
	display: flex;
	flex-direction: column;
	width: 1200px;
	margin: 0 auto;
}

.page-header__logo{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -68px;
}

.menu{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	padding: 0;
	height: 56px;
	margin: 0;
	background-color: #ffffff;
	align-items: center;
} 

.menu__item{
	width: 240px;
	padding-left: 72px;
}

.menu__item:nth-child(2){
	margin-right: 240px; 
} 

.intro{
	margin: 0px;
	padding: 0px;
}

.information{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 62px;
	height: 216px;
	margin: 0px;
	background-color: #ffffff;
}

.features{
	display: flex;
	flex-direction: row;
	height: 256px;
	min-width: 400px;
	align-content: center;
}
.features__item{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 54px;
	padding-left: 60px;
	padding-right: 60px;
}
.features__heading{
	flex-basis: 28px;
}
.features__image{
	min-width: 800px;
}
.features--blue{
	background-color: #81b3d2;
	color: #ffffff;
	
}

.advantages{
	display: flex;
	flex-direction: row;
}

.advantages__item{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ffffff;
	padding-left: 73px;
	padding-right: 73px;
	flex-basis: 400px;
	height: 330px;
	justify-content: center;
}

.promo{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
	height: 291px;
	background-color: #ffffff;	
}

.promo__link{
	margin-top: auto;
	width: 567px;
	height: 87px;
	background-color: #766357;
	color: #ffffff;
	text-align: center;
	padding-top: 30px;
}

.form{
	display: flex;
	flex-direction: column;
	align-items: center;	
}

.map__form{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 392px;
	width: 567px;
	background-color: #ffffff;
}

.form__buttom{
	background-color: #81b3d2;
	color: #ffffff;
	width: 458px;
	height: 56px;
	border: 0;
}

.footer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 120px;
	background-color: #ffffff;
	opacity: 0.7;
}

.footer__social{
	display: flex;
	flex-direction: row;
	
}

.footer__social-item{
	height: 46px;
	width: 45px;
	margin-right: 6px;
	justify-content: center;
	background-color: #81b3d2;
}

/* Здесь стили по catalog.html */

.form-catalog{
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-image: url(../img/filter_background.jpg);
	align-items: center;
	height: 215px;
}
.form-catalog__item{
	display: flex;
	flex-direction: column;
	color: #ffffff;
}

.form-catalog__item:first-child{
	min-width: 255px;
}
.form-catalog__item:nth-child(2){
	min-width: 270px;
	margin-left: 0px;
	margin-right: 203px;
}
.form-catalog__item:nth-child(3){
	min-width: 328px;
}
.form-catalog__button{
	width: 138px;
	height: 36px;
	align-self: center;
	border: 2px solid #ffffff;
	
}
.finder{
	display: flex;
	flex-direction: row;
	height: 86px;
	background-color: #ffffff;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid #e5e5e5;
}
.finder__name{
	margin-left: 72px;
}
.finder__feature{
	display: flex;
	flex-direction: row;
	align-items: baseline;
}
.finder__items{
	display: flex;
	flex-direction: row;
}
.finder__item{
	margin-left: 32px;
}
.hotel{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 150px;
	background-color: #ffffff;
}
.hotel__image{
	width: 165px;
}
.hotel__description{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 90px;
	width: 780px;
}
.hotel__heading{
	margin: 0;
}
.hotel__features{
	display: flex;
	flex-direction: row;
	height: 60px;
}
.hotel__feature{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.hotel__detail-link{
	width: 110px;
	height: 26px;
	background-color: #81b3d2;
	color: #ffffff;
	text-align: center;
}
.hotel__rent-link{
	width: 142px;
	height: 26px;
	background-color: #766357;
	color: #ffffff;
	text-align: center;	
}
.hotel__rating{
	width: 111px;
}
p{
	text-align: center;
}

a{
	text-decoration: none;
	color: black;
}

li{
	list-style-type: none;
}